@import "wrapper.css";

/* TAGS FOR ALL DOCUMENT */

* {
    /* outline: 1px solid red; */ 
}

body {
    background-color: #4A525A;
}

h1, h2, h3, p, a {
    color: #ddd;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1rem;
}

strong {
    text-transform: uppercase;
}

/* HEADER */

header {
    margin: 0vw 0px 0px 10%;
    width: 250px;
}

header img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 780px) {
    header {
        width: 150px;
    }
}

/*POSITIONING PAGE*/
.box {
    margin: 50px 10vw 50px 10vw;
    padding: 0 20px;
}